@font-face {
  font-family: roboto;
  src: url("./RobotoMono-Medium.ttf");
}
body {
    font-family: 'Roboto Mono, monospace';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
    background-color: #3A3A3A;
  }

  nav {
    background-color: #E9E4D9;
    color: #CF5454;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
  }

  .dodavanje-opreme{
    background-color: #CF5454;
    min-height: calc(100vh - 2rem);
  }
